<h1>Elektronik Sayfası</h1>

<h2><%= mesaj %></h2>

<ul class="DenemeBuyuk">
    <% for( let i = 0; i < kisiler.length; i++ ) { %>
    <li><%= kisiler[i] %> </li>
    <% } %>
</ul>

<p class="DenemeBuyuk">Elektronik Merhabalar</p>

