<h1>Index Sayfası</h1>

<p class="DenemeBuyuk">index Merhabalar</p>

<div class="container">
    <div class="row DenemeBuyuk">
        <div class="col-sm-3">
            Burası birinci sütün
        </div>
        <div class="col-sm-3">
            Burası ikinci sütün
        </div>
        <div class="col-sm-3">
            Burası üçüncü sütün
        </div>
        <div class="col-sm-3">
            Burası dördüncü sütün
        </div>
    </div>

</div>